@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap');

:root {
    --primary-color: #f7ad90;
    --text-color: black;
    --black: #333333;
    --white: white;
}

body {
    font-family: 'Lora', serif;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
}

p {
    font-style: italic;
    padding: 0rem 1rem;
    line-height: 1.6;
}

h1 {
    width: 100% auto;
    background-color: var(--primary-color);
    text-align: center;
    font-weight: bold;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.center {
    margin: auto;
    text-align: center;
    width: 80%;
    border: 2px solid black;
    padding: 10px;
}

.img {
    max-width: 400px;
    max-height: 250px;
    min-width: 100px;
    min-height: 50px;
    padding-top: 1rem;
    display: block;
    margin: auto;
}

.display-flex {
    display: flex;
    padding: 2em;
    margin: auto;
    justify-content: center;
}

.flex-items {
    flex-shrink: 1;
    justify-content: center;
    flex-flow: row wrap;
}


#btn-translate {
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: larger;
    font-weight: bold;
    margin-top: 2em;
    outline: none;
}

#btn-translate:hover {
    border-radius: 0.8em;
}



#output {
    height: 10vh;
    width: 85%;
    margin: 1rem 1.5rem;
    padding: 0.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

#txt-output,
#txt-input {
    display: block;
    border: 1px solid var(--light-blue);
    width: 380px;
    height: 100px;
    margin-top: 1rem;
    font-family: inherit;
    padding: 1rem;
    font-size: large;
    resize: none;
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: var(--text-color);
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}



@media only screen and (max-width: 1000px) and (min-width: 450px) {
    .display-flex {
        flex-flow: column wrap;
    }

    #txt-output,
    #txt-input,
    #btn-translate,
    .flex-items {
        margin: auto;
    }

    #btn-translate {
        margin: 1rem;
    }
}

@media only screen and (max-width: 450px) and (min-width: 200px) {
    .display-flex {
        flex-flow: column wrap;
    }

    #txt-output,
    #txt-input,
    #btn-translate,
    .flex-items {
        margin: auto;
    }

    #btn-translate {
        margin: 1rem;
    }

    .img {
        max-width: 300px;
        max-height: 150px;
        min-width: 10px;
        min-height: 50px;
    }

    #txt-output,
    #txt-input {
        width: 200px;
        height: 50px;
    }
}